#ABout{
    background-image: linear-gradient( to bottom, #c6edf7,#F6F6F2,#F6F6F2);
    border-style: none;
    margin-top: 20%;
    border-radius: 30px 30px 30px 30px;
}

#about1{
    background-image: linear-gradient(to bottom,#026f79,#6cc6ce);
    background-repeat: no-repeat;
    background-size:auto;
}

#ABout:hover{
    transform: scale(1.1); 
    color:#026f79;
}

#font1{
    color:#026f79;
}
#edu{
    font-style: oblique;
    color: #F6F6F2;
    
    
}