#COL{
    border-top: 6px solid red;
    border-radius: 30px;
}
#COL1{
    border-top: 6px solid blue;
    border-radius: 30px;
}
#COL2{
    border-top: 6px solid yellow;
    border-radius: 30px;
   
}
#COL3{
    border-top: 6px solid red;
    border-radius: 30px;
}
#crl{
    background-color: aqua;
}